<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
          integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
          crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
          integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
          crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
          integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
          crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <!--  <script src="/path/to/vue-router.js"></script>-->
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  <title>RetorantX</title>
</head>
<body>

<div id="store">
  <div class="container">

    <div class="">
      <div class="row">
        <form @submit="newProduct" >
          <table class="table">
            <thead>
            <tr>
              <th scope="col">Language</th>
              <th scope="col">Nom</th>
              <th scope="col">Description</th>
            </tr>
            </thead>
            <tbody v-for="(info, value) in data">
            <tr>
              <th scope="row">{{value}}</th>
              <td><input type="text" name="name" v-model="info.name"></td>
              <td><input type="text" name="desc" v-model="info.desc"></td>
            </tr>
            </tbody>
          </table>
          <input type="checkbox" name="actif" value="actif" v-model="actif" >actif<br>
          <input id="prodId" name="prodId" type="hidden" v-bind:value="idProduct">

          <input type="submit" value="Update" class="btn btn-primary"/>
        </form>
      </div>
    </div>
  </div>
</div>


<script type="text/javascript" src="edit.js"></script>
</body>
</html>